**/__pycache__/
*.egg-info

aaa_mystuff/
work-dir/
outputs/
old_files/
pretrained/
pretrained_models/
work-dir/
wandb/
data/*
data
pretrained_models
checkpoints/
# Scenes for mados tiny
# Wow gitignore pattern mathcing is a mess
RD_*
task_submission.yaml
!data/mados
data/mados/*
!data/mados/splits
data/mados/splits/*
!data/mados/splits/tiny_X.txt
Dockerfile
docker-compose.yml

.vscode
.idea
