numpy==1.26.4
torch==2.3.0
torchvision==0.18.0
albumentations
geopandas
rasterio
pillow
scikit-learn
tensorboard
tqdm
tifffile
timm
einops
opencv-python
imagecodecs
rioxarray
gdown
ptflops
google-cloud-storage
omegaconf
pyDataverse
pytest
yacs
wandb
hydra-core
wheel
transformers
accelerate
graspologic
weightwatcher
future
zarr

